<div class="container">
	<div id="create_book">
	</div>
</div>	
<div class="container" id="books">
	<%= render "books/books" %>
</div>
<div class="container text-center">
	<hr/>	<%= paginate @books %><hr/>
</div>		
<div>
	<% if user_signed_in? %>	
		<h2 class="text-center">Taken Books</h2><hr/>	
		<div class="col-md-8 col-md-offset-2">
			<table class="table borderless">
				<tr>
					<b>
						<th class="sno">S.no</th>
						<th>Book title</th>
						<th>Booked Date</th>
						<% if @user.role == "admin" %>
							<th>User</th>
							<th>Action</th>
						<% end %>
					</b>	
				</tr>	
				<% if @user.role == " " %>	
					<% @user.books.each_with_index do |user_book, i| %>
						<tr>
							<td class="sno"><%= i+1 %>.</td>
							<td class="user_books"><%= user_book.title %></td>
							<td class="user_books"><%= user_book.updated_at.strftime("%d-%B-%Y") %></td>
						</tr>	
					<% end %>
				<% else %>	
					<% @books.each_with_index do |book,i| %>
						<% if book.users.present? %>
							<tr>
								<td class="sno"><%= i+1 %>.</td>
								<td class="user_books"><%= book.title %></td>
								<td class="user_books"><%= book.updated_at.strftime("%d-%B-%Y") %></td>
								<% book.users.each do |user| %>
									<td class="user_books">
										<%= user.name %>
									</td>
									<td>
										<%= link_to "Return Book", book_return_user_book_path(user,book), method: :patch, class: "btn btn-success pull-right" %>
									</td>
								<% end %>
							</tr>	
						<% end %>		
					<% end %>
				<% end %>	
			</table>		
		</div>	
	<% end %>	
</div>	
