<div class="container">
	<h2> Show Page 
		<%= link_to "Back", books_path, class: "btn btn-success pull-right" %>
		<% if user_signed_in? %>
			<% if @user.role == "admin" %>
				<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: " Are you sure want to delete? " }, class: "btn btn-success pull-right" %>
				<%= link_to "Edit", edit_book_path(@book), class: "btn btn-success pull-right", remote: true %>
			<% else %>
				<% if @book.users.present? %>
					<%= link_to "Booked", books_path, class: "btn btn-danger pull-right"  %>
				<% else %>	
					<%= link_to "Add Book", user_books_path(@user), method: :patch, class: "btn btn-success pull-right"  %>
				<% end %>
			<% end %>
		<% end %>		
	</h2><hr/>
	
	<div id="edit-book">	
	</div>	
	<div class="col-md-8 col-md-offset-2" id="show-book">
		<%= render "books/show_book" %>
	</div>

</div>		