<div class="container">
	<h2> Show Page 
		<%= link_to "Back", books_path, class: "btn btn-success pull-right" %>
		<% if user_signed_in? %>
			<% if @user.role == "admin" %>
				<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: " Are you sure want to delete? " }, class: "btn btn-success pull-right" %>
				<%= link_to "Edit", edit_book_path(@book), class: "btn btn-success pull-right" %>
			<% else %>
				<% if @book.user_id != 0 %>
					<%= link_to "Booked", books_path, class: "btn btn-danger pull-right"  %>
				<% else %>	
					<%= link_to "Add Book", user_book_path(@user,@book), method: :patch, class: "btn btn-success pull-right"  %>
				<% end %>
			<% end %>
		<% end %>		
	</h2><hr/>
	
	<div class="col-md-8 col-md-offset-2">
		<h2 class="text-center" ><%= @book.title %></h2><hr/>
		<p><h3><u>Description:</u></h3></p>
		<p class="description"><%= @book.description %></p>
	</div>

</div>		